body > .container > section {
	width: 80%;
	max-width: 900px;
	margin: 65px auto;
}

.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	font-family: 'Bree Serif';
	padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #444;
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #6b969d;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}
/*.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #6b889d;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #6b739d;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #7a6b9d;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #8d6b9d;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #9b6b9d;
}*/
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #6b739d;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 
	color: #9b6b9d;	
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    30% { opacity: 1; -webkit-transform: translateY(0px); }
	35% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    30% { opacity: 1; -ms-transform: translateY(0px); }
	35% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    30% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	35% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

#reach_out {
	font-size: 1.2rem;
}
#my_stuff {
	display: flex;
	flex-wrap: nowrap;
}
#my_stuff section {
	width: 50%;
	text-align: center;
}

#my_stuff section h2 {
	margin-bottom: 0;
}

#my_stuff section i { 
	font-size: 5rem;
}
#my_stuff section a {
	transition: color .2s;
}
#my_stuff section.youtube h6 {
	margin: 0;
}
#my_stuff section.youtube a:hover {
	color: #bb0000;
}
#my_stuff section.github a:hover {
	color: black;
}
#reach_out h3 {
	margin: 0;
}
#reach_out .email {
	transition: color .2s;
	color: #22A7F0;
}
#reach_out .email:hover {
	color: #5D8CAE;
}
#reach_out .icons i {
	margin: 0 5px;
}
#reach_out .icons a {
	transition: color .2s;
}
#reach_out .icons a.linkedin:hover {
	color: #4B77BE;
}
#reach_out .icons a.github:hover {
	color: black;
}
#reach_out .icons a.stack-overflow:hover {
	color: #F9690E;
}